

@media (prefers-color-scheme: dark) {
  html{
    background-color: lighten(black, 10%);
  }

  body{
    background: $dark-bg-html;
  }

  .container {
    border-color: $dark-border;
    background-color: $dark-bg-body;
  }




  // PROJECTS
  .card-projects{
    background-color: $dark-bg;
  }
  .project-title{
    h2{
      color: transparentize(white, 0.1);
      //background-color: $dark-bg;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2)
    }
  }
  .project-list-item{
    border-color: $dark-item-border;
      .detail{
        .title{
          color: $dark-text-title;
        }
        .description{
          color: $dark-text-desc;
        }
        .link{
          color: $dark-text-desc;
        }
      }
  }


  // INTRO
  .part-up{
    border-bottom: none;
  }

  .intro{
    .intro-container{
      .intro-title{
        color: $dark-text-title;
      }
      .intro-content{
        color: $dark-text-title !important;
        a{
          color: $dark-text-title !important;
        }
      }
    }
  }

  @media screen and (max-width: $width-sm) {
    .container{
      border: none;
    }
    .intro {
      tr {
        border-bottom-color: $dark-bg-body !important;
      }
    }
    .project-item{
      border-color: $dark-bg-body !important;
    }
  }


  // setion
  .section{
    &.gray{
      background: linear-gradient(to top left, #444, #666);
    }
  }

  .profile{
    background: linear-gradient(to top left, #444, #666);
  }

  .projects{
    background: linear-gradient(to top left, #444, #666);
    .project-list-item{
      border-color: $dark-border;

      .detail{
        .title{
          color: $dark-text-title;
        }
        .description, .link{
          color: $dark-text-desc;
        }
      }
    }
  }


  // Card icon
  .card-icon{
    .icon{
    }
    .name{
      color: $dark-text-desc !important;
    }
    &:hover{
      .icon{
        @include box-shadow(12px 25px 5px transparentize(white, 0.9), -2px 20px 5px transparentize(white, 0.9));
      }
    }
  }

  // Project list
  .projects{
    .projects-content{
      .project-list{
        .project-list-item{
          border-color: $dark-border;
          .detail{
            .title{
              color: $dark-text-title
            }
            .description{
              color: $dark-text-desc ;
            }
            .link{
              color: $dark-text-desc ;
            }
          }
          &:hover{
            .detail .title{
              color: white;
            }
          }
        }
      }
    }
  }

}
