@use "sass:math";
.row{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.col{
  padding: math.div($gap, 2);
  flex-grow: 1;
  flex-shrink: 0;
}

@for $item from 1 through 24 {
  @media(min-width: $grid-md) {
    .col-lg-#{$item} {
      width: math.div($item, 24) * 100%;
    }
  }
  @media (min-width: $grid-sm) and (max-width: $grid-md) {
    .col-md-#{$item} {
      width: math.div($item, 24) * 100%;
    }
  }

  @media (min-width: $grid-xs) and (max-width: $grid-sm) {
    .col-sm-#{$item} {
      width: math.div($item, 24) * 100%;
    }
  }

  @media(max-width: $grid-xs) {
    .col-xs-#{$item} {
      width: math.div($item, 24) * 100%;
    }
  }
}




