@import "plugin";
@import "reset";

$root-size: 14;


@function size($value: 3){
  @return #{$value/14}rem
}

[v-cloak]{
  display: none;
}

html{
  font-size: 14px;
}

body{
  //background: url("../img/bg_paper.png") repeat;
  //background: linear-gradient(to bottom, #e6ebe6, #f6f7f9);
  background: linear-gradient(to bottom, #c8d8c8, #ffb353);
}

.container{
  padding: $gap;
}




.row{
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  .col{
    flex-grow: 1;
    flex-shrink: 0;
    &+.col{
      margin-left: $gap;
    }
  }
}


@media (max-width: 1280px) {
  .container{
    padding: $gap-mobile;
  }

  .row{
    flex-flow: column nowrap !important;
    .col{
      &+.col{
        margin-left: 0;
      }
    }
  }
}

@import "animation";

@import "dark";



