@import "../../scss/plugin";

$bg-fixtop      : #000;
$bg-highlight   : #EEEEEE;
$bg-second      : #EBEBEB;
$bg-navbar      : #B61111;
$bg-footer      : #3B3B3B;


.card{
  padding: 20px;
  @include border-radius(10px);
  .card-header{
    padding-bottom: 20px;
    font-size: $font-size-big;
    text-align: center;
    border-bottom: 1px solid $color-border;
  }
  .card-body{
    padding: 20px 0;
  }
  .card-footer{
    color: white;
    padding-top: 20px;
    border-top: 1px solid $color-border;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-big;
  }
}
.table{
  width: 100%;
  color: $text-title;
  td{

    white-space: nowrap;
    padding: 3px 3px;
    z-index: 10;
    line-height: 1.5;
    text-align: right;
    &:first-child{
      padding-left: 10px;
    }
    &:last-child{
      padding-right: 10px;
    }
  }
  tr{
    position: relative;
    td:first-child{
      text-align: left;
    }
    &:hover{
      background: $bg-highlight;
    }
  }
}

p.title{
  line-height: 1.2;

}
p.date{
  line-height: 1;
  font-size: 10px;
  color: $purple;
}

.bought{
  color: $text-desc;
}


@media (max-width: $width-md){
  .card{
    padding: 20px 5px;
  }
  .wanted-list-container{
    width: 100%;
  }
  .table{
    td{
      &:first-child{
        padding-left: 5px;
      }
      &:last-child{
        padding-right: 5px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card{
    .card-header{
      color: white;
      border-bottom-color: $dark-border;
    }
    .card-body{
    }
    .card-footer{
      color: white;
      border-top-color: $dark-border;
    }
  }
  .table{
    color: $text-title;
    td{
      color: $dark-text-title;
      &:first-child{
      }
      &:last-child{
      }
    }
    tr{
      position: relative;
      td:first-child{
      }
      &:hover{
        background: $dark-item-bg;
      }
    }
  }
  p.title{
    color: $dark-text-title;
  }
  p.date{
    color: $green;
  }
  .bought{
    color: $dark-text-desc;
  }

}
