@import "../../../scss/plugin";
.card-image{
  background-color: white;
  @include border-radius($radius);
  padding: 5px;
  overflow: hidden;
  @include box-shadow(1px 1px 3px rgba(0,0,0,0.1));
  img {
    width: 100%;
    display: block;
  }
}

.card-apple{
  margin-top: 10px;
  height: 180px;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  .link-item{
    @include border-radius($radius);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 10px;
    img{
      display: block;
      height: 50px;
    }
    h3{
      margin-top: 12px;
      font-weight: normal;
      font-size: $fz-sm;
      text-align: center;
    }
    &:hover{
      background-color: transparentize(black, 0.90);
    }
  }
}

.thumb-up{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  @extend .btn-like;
  img{
    display: block;
    width: 20px
  }
  .count{
    font-size: $fz-tiny;
    margin-top: 3px;
    text-align: center;
  }
}

.apple-item{
  margin-right: 5px;
  &:last-child{
    margin-right: 0;
  }
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  &.disabled{
    opacity: 0.5;
  }
}

@media (max-width: 1280px) {
  .card-apple{
    margin: 10px 0;
    justify-content: center;
    height: 130px;
    .link-item{
      padding: 10px 10px;
      width: auto;
      img{
        height: 40px;
      }
    }
  }
  .thumb-up{
    margin-top: 3px;
    @extend .btn-like;
    img{
      display: block;
      width: 15px
    }
    .count{
      font-size: $fz-tiny;
      margin-top: 3px;
      text-align: center;
    }
  }
}

$indicator-width: 20px;

.indicator-new{
  position: absolute;
  width: $indicator-width;
  height: $indicator-width;
  top: 0;
  right: 0;
  @include border-radius(100px);
  @include box-shadow(-1px 2px 3px transparentize(black, 0.8));
  img{
    display: block;
    width: 100%;
  }
}
