//@import "./../../lib/css/variables";

$radius: 6px;

// Colors
$green          : #4CD964;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;

$text-title: #333;
$text-content: #666;
$text-desc: #999;
$text-film-en: #ccc;

$text-dark-title: white;
$text-dark-content: transparentize(white, 0.3);
$text-dark-desc: transparentize(white, 0.6);


$bg-body:  #F9F9F9;
$bg-color: #F4F1EF;
$bg-active: transparentize($blue, 0.92);

$border-active: transparentize($blue, 0.8);

$intro-title-color: #9B9B9B;
$intro-text-color:  #505257;

$item-title-color:    #4A4A4A;
$item-content-color:  #999999;
$item-border-color:   #eae8e5;

$width-lg: 1200px;
$width-md: 900px;
$width-sm: 600px;

$fz-huge : 36px;
$fz-big  : 24px;
$fz-film : 16px;
$fz-m    : 14px;
$fz-sm   : 12px;
$fz-tiny : 11px;

$font-size-big:     25px;
$font-size-title:   16px;
$font-size-text:    14px;
$font-size-comment: 12px;
$font-size-small:   10px;

$color-border: #dadada;


// 屏幕尺寸节点
$grid-md: 1512px;
$grid-sm: 1280px;
$grid-xs: 768px;


$gradient-cool: #50E3C2, #53A0FD, #B4EC51;
$gradient-warm: #FAC661, #FB9B36, #FFDA34;


$profile-head-border: #3BABFB;
$profile-border-color: #dddde2;

// 类别分组
$label-array: (
  "latest"   :$magenta,
  "most"     :$green,
  "tool"     :$cyan,
  "work"     :$blue,
  "proj"     :$green,
  "page"     :$yellow,
  "test"     :$orange,
  "api"      :$red,
  "template" :$magenta,
  "other"    :$purple
);


$gap: 20px;
$gap-mobile: 10px;




$dark-bg: lighten(black, 30%);
$dark-bg-html: lighten(black, 10%);
$dark-bg-body: lighten(black, 18%);
$dark-border: lighten(black, 30%);

$dark-item-bg: lighten(black, 24%);
$dark-item-border: lighten(black, 24%);

$dark-bg-profile: lighten(black, 25%);

$dark-text-title: lighten(black, 75%);
$dark-text-desc: lighten(black, 65%);
