@import "plugin";
@import "gutter";
@import "reset";


[v-cloak]{
  display: none;
}

html{
  font-size: 14px;
}

body{
  //background: url("../img/bg_paper.png") repeat;
  background-color: #ecebe6;
  //background: linear-gradient(to bottom, #e6ebe6, #f6f7f9);
  //background: linear-gradient(to bottom, #ecebe6, #bbd7e1);
  //background: linear-gradient(to bottom, #ecebe6, #deddd9);
}

.container{
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  padding: $gap;
}


@media (max-width: 1280px) {
  .container{
    padding: 10px;
  }
}

@import "grid";
@import "animation";
@import "markdown";

@import "dark";



